<div class="main-wrapper">
	<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sub-title section padding-top-xxl">
                        <h6 class="h6">Devidend Option</h6>
						<p data-id="policy">Personal Accident Policy </p>
                    </div>
                    <hr/>
                    <div class="">
						<form action="" method="POST" data-change-dividend-option>
                            <input type="hidden" value="10239654" id="policy-number"/>
                            <div>
                                <p data-id="existing-dividend-option">Existing Dividend Option: </p>
                                <p>Change the Dividend Option on my policy above with effect from the NEXT policy anniversary to:</p>
                            </div>
                            <div>
                            	<div>
                                	<label class="premium-deductions ">
                                    	<input type="radio" name="iCheck" /><span>Premium Deductions</span>
                                	</label>
                                </div>
								<div>
                                	<label class="paid-up-addition">
                                    	<input type="radio" name="iCheck" /><span>Paid-up Addition</span>
                                	</label>
                                </div>
                                <div>
                                	<label class="dividend-accumulations">
                                    	<input type="radio" name="iCheck" /><span>Dividend Accumulations</span>
                                	</label>
                                </div>
                                <div>
                                	<label class="cash-payout">
                                    	<input type="radio" name="iCheck" /><span>Cash Payout</span>
                                	</label>
                                </div>
                            </div>
                            <div class="button margin-bottom-l">
                                <button class="btn btn-default btn-primary validate-login" type="submit">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>