<footer class="footer">
    <div class="container bg-b8">
        <div class="text-center padding-top-xs padding-bottom-xs">
            <p class="b5 bt5">${properties.copyright ? properties.copyright : 'Copyright © 2017 AIA Group Limited and its subsidiaries. All rights reserved.'}</p>
        </div>
    </div>
    <div class="container bg-b9">
        <div class="text-center padding-top-xs padding-bottom-xs"><a class="b5 bt5" href="http://www.aia.com.sg/en/index/terms-of-use.html">Terms of Use</a><span class="b5 link-seperator"> |</span><a class="b5 bt5" href="http://www.aia.com.sg/en/index/personal-data-policy.html"> AIA Personal Data Policy (Singapore)</a></div>
    </div>
</footer>